<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.justtest.mapper.SettledtlFileInfoBatchMapper">

    <sql id="querySql">
        SELECT
        MSGID msgId,
        BATCHID batchId,
        CRDTPARTY crdtParty,
        SRCFILEPATH srcFilePath,
        DESTFILEPATH destFilePath,
        LOCALFILEPATH localFilePath,
        FILENAME fileName,
        FILEPROCSTATUS fileProcStatus,
        LASTUPDATE lastUpDate,
        LASTUPTIME lastUpTime
        FROM pay_batch_checkfilelist
    </sql>

    <select id="queryDtlFileInfoByBatchIdStatus" resultType="com.example.justtest.domain.DtlFileInfDOPerson">
        <include refid="querySql"></include>
        WHERE BATCHID = #{batchId} AND CRDTPARTY = #{crdtParty}
    </select>
</mapper>